#mkdocs-decrypt-button {
    width: 100%;
    max-width: 15%;
    padding: 0rem;
    height: 2rem;
    background-color: var(--md-code-bg-color);
    color: var(--md-default-fg-color);
    border: 2px solid var(--md-pic-shadow-color);
    border-radius: 8px;
    transition: font-weight .25s,background-color .25s;
    box-shadow: inset 0px 0px 8px 0px var(--md-pic-shadow-color);
}
#mkdocs-decrypt-button:hover, #mkdocs-decrypt-button:focus{
    border: none;
    background-color: var(--md-pic-shadow-color);
    font-weight: 900;
    box-shadow: inset 0px 0px 20px 1px var(--md-pic-shadow-color);
}