.md-typeset .grid.cards>ol>li,
.md-typeset .grid.cards>ul>li,
.md-typeset .grid>.card {
    background-color: var(--md-primary-fg-color);
    border-radius: 8px;
    border: 2px solid var(--md-pic-shadow-color);
}

.md-typeset:hover .grid.cards>ol>li:hover,
.md-typeset:hover .grid.cards>ul>li:hover,
.md-typeset .grid>.card:hover {
    border: 2px solid var(--md-primary-fg-color);
}

name {
    font-size:1.45rem;
    font-weight: 700;
    color: var(--md-default-fg-color);
    margin-left: 10px;
}

#width-pic {
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: relative;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 8px 8px;
    border: 2px solid var(--md-pic-shadow-color);
    border-top: 0;
}

#card-pic {
    object-fit: cover;
    width: 100%;
    height: 11rem;
    top: 1.5rem;
    position: relative;
    max-width: 100%;
}

.card{
    background-color: var(--md-primary-fg-color);
    border-radius: 8px;
    border: 2px solid var(--md-pic-shadow-color);
    display: block;
    margin: 0;
    padding: .8rem;
    transition: border .25s,box-shadow .25s;
}
.card:hover{
    border: 2px solid var(--md-primary-fg-color);
    box-shadow: var(--md-shadow-z2)
}